
{:source-paths ["src/"]
 :dependencies []
 :builds {:app {:output-dir "dist/"
                :target :browser
                :asset-path "."
                :modules {:main {:init-fn app.main/main!}}
                :release {:module-hash-names 8}}}}
