
{:source-paths ["src/"]
 :dependencies []
 :builds {:app {:output-dir "dist/"
                :target :browser
                :asset-path "."
                :modules {:main {:entries [app.main]
                                 :depends-on #{:lib}}
                          :lib {:entries [app.lib]}}
                :release {:module-hash-names true}}}}
